# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [8]:
# Your code here:
columnas = salaries.columns
list(columnas)

['Name',
 'Job Titles',
 'Department',
 'Full or Part-Time',
 'Salary or Hourly',
 'Typical Hours',
 'Annual Salary',
 'Hourly Rate']

In [9]:
for columna in columnas:
    print(f"Columna {columna} tiene {salaries[columna].isnull().sum()} celdas vacias")

Columna Name tiene 0 celdas vacias
Columna Job Titles tiene 0 celdas vacias
Columna Department tiene 0 celdas vacias
Columna Full or Part-Time tiene 0 celdas vacias
Columna Salary or Hourly tiene 0 celdas vacias
Columna Typical Hours tiene 25161 celdas vacias
Columna Annual Salary tiene 8022 celdas vacias
Columna Hourly Rate tiene 25161 celdas vacias

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:
salaried = len(salaries[salaries["Salary or Hourly"] == "Salary"])
hourly = len(salaries[salaries["Salary or Hourly"] == "Hourly"])
print(f"Salaried: {salaried}")
print(f"Hourly: {hourly}")

Salaried: 25161
Hourly: 8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [19]:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [23]:
hourly_employees = salaries[salaries["Salary or Hourly"] == "Hourly"]
hourly_employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68

In [24]:
import numpy as np
from scipy.stats import ttest_1samp
hourly_rate = hourly_employees["Hourly Rate"]
ttest_1samp(hourly_rate, 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [25]:
'''
Se rechaza la hipotesis nula, ya que el pvalue  < 0.05. 
El promedio de la hora es cercano a los 30 USD
'''
np.mean(hourly_employees["Hourly Rate"])

32.78855771628128

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [32]:
officers_filter = salaries[
    (salaries["Salary or Hourly"] == "Salary") &
    (salaries["Department"] == "POLICE")
]

In [39]:
officers_rate = officers_filter["Annual Salary"]
p_value = ttest_1samp(officers_rate, 86000)[1]/2
print("p_value: ",p_value)
print("Promedio: ",np.mean(officers_filter["Annual Salary"]))

'''
el p_value < 0.05, por lo que se rechaza la hipotesis. Aunque revisando el promedio
si es mas alto que que el promedio del año anterior..... 

Es un falso positivo (?)
'''

p_value:  0.0010301701775482569
Promedio:  86486.41450313339

'\nel p_value < 0.05, por lo que se rechaza la hipotesis. Aunque revisando el promedio\nsi es mas alto que que el promedio del año anterior..... \n\nEs un falso positivo (?)\n'

Using the `crosstab` function, find the department that has the most hourly workers.

In [47]:
# Your code here:
cross = pd.crosstab(hourly_employees["Department"], hourly_employees["Salary or Hourly"])
cross.sort_values("Hourly", ascending=False, inplace=True)
cross

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [49]:
# Your code here:
streets_employees = hourly_employees[hourly_employees["Department"] == "STREETS & SAN"]
streets_rate = streets_employees["Hourly Rate"]
p_value = ttest_1samp(streets_rate, 35)[1]/2
print("p_value: ",p_value)
print("Promedio: ",np.mean(streets_rate))


'''
p_value < 0.05, Se rechaza
'''

p_value:  1.6689265282353859e-21
Promedio:  33.728378088076845

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [50]:
from scipy import stats
from scipy.stats import t

In [56]:
confidence = 0.95
hourly_rate = hourly_employees["Hourly Rate"]
n = len(hourly_rate)
m, se = np.mean(hourly_rate), stats.sem(hourly_rate)
h = se * t.ppf((1 + confidence) / 2., n-1)
print(f"Intervalo confianza empleados hora: [{m-h}-{m+h}]")

Intervalo confianza empleados hora: [32.52345834488529-33.05365708767727]

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [57]:
confidence = 0.95
n = len(officers_rate)
m, se = np.mean(officers_rate), stats.sem(officers_rate)
h = se * t.ppf((1 + confidence) / 2., n-1)
print(f"Intervalo confianza policias: [{m-h}-{m+h}]")

Intervalo confianza policias: [86177.05631531784-86795.77269094894]

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [64]:
# proportions_ztest function from statsmodels
'''
determine whether the number of hourly workers in the City of Chicago is significantly
different from 25% at the 95% confidence level.
'''
#hourly_employees.head()
from statsmodels.stats.proportion import proportions_ztest
count = len(hourly_employees)
nobs = len(salaries)
stat, pval = proportions_ztest(count, nobs, value = 0.25)
print(f"Dato estadistico: {stat} \nP-val {pval}")

Dato estadistico: -3.5099964213703005
P-val 0.0004481127249057967

In [65]:
'''
No estoy seguro de entender este ultimo ejemplo, lo saque gracias a la pag de referencia en la intro
'''

'\nNo estoy seguro de entender este ultimo ejemplo, lo saque gracias a la pag de referencia en la intro\n'