## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
# Your code here
sample_list_1 = random.sample(range(100), 80)
print(len(sample_list_1), "elements in the list")

80 elements in the list

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2 = list([])
for i in range(80):
    sample_list_2.append(random.randrange(100));

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2=set(sample_list_2)
print(len(set2))

55

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
# Your code here
set3 = set1.difference(set2)

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
# Your code here
set4 = set2.difference(set1)

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
# Your code here
set5 = set1.intersection(set2)

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [12]:
# Your code here
print(len(set1), " -- set 1 - 80 unique values") 
print(len(set2), " -- set 2 - n unique values") 
print(len(set3), " -- set 3 - set1 only values") 
print(len(set4), " -- set 4 - set2 only values") 
print(len(set5), " -- set 5 - intersection set1 & set2") 

print("================================================")

print(len(set1) + len(set2), "total values set1+set2") 
print(len(set3) + len(set5), "len(set1) = set3 + set5") 
print(len(set4) + len(set5), "len(set2) = set4 + set5")

80  -- set 1 - 80 unique values
55  -- set 2 - n unique values
38  -- set 3 - set1 only values
13  -- set 4 - set2 only values
42  -- set 5 - intersection set1 & set2
================================================
135 total values set1+set2
80 len(set1) = set3 + set5
55 len(set2) = set4 + set5

#### Create an empty set called `set6`.

In [18]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [21]:
# Your code here
#set6.update(set3)
#set6.update(set5)

set6 = set3.union(set5)

#### Check if `set1` and `set6` are equal.

In [22]:
# Your code here
print("set1 and set6 are equal? ", set1 == set6)

set1 and set6 are equal?  True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
# Your code here
print("set1 contains set2? ", set2.issubset(set1))
print("set1 contains set3? ", set3.issubset(set1))

set1 contains set2?  False
set1 contains set3?  True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [25]:
# Your code here
agg1 = set1.union(set2)
agg2 = set3.union(set4)
agg2 = agg2.union(set5)
print("aggregated values are equal?", agg1 == agg2)

aggregated values are equal? True

#### Using the `pop` method, remove the first element from `set1`.

In [31]:
# Your code here
#set1.pop(0); #TypeError: pop() takes no arguments (1 given)
first_element = set1[0]
print("Element removed: ",first_element)
set1.remove(first_element)

TypeError: 'set' object is not subscriptable

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [34]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for to_remove in list_to_remove:
    if(to_remove in set1):
        set1.remove(to_remove)
print("result set1: ",set1)

result set1:  {2, 3, 4, 6, 7, 10, 13, 15, 17, 22, 23, 24, 25, 26, 27, 28, 30, 32, 34, 35, 37, 40, 42, 43, 44, 45, 46, 47, 48, 50, 52, 53, 55, 56, 57, 60, 62, 63, 64, 65, 66, 67, 70, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 88, 92, 95, 96, 97, 98}