# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
amount_spent = orders.groupby(["CustomerID"]).sum()
q95 = amount_spent.quantile(0.95)["amount_spent"]
q75 = amount_spent.quantile(0.75)["amount_spent"]

In [4]:
amount_spent["Label"] = np.where(
            amount_spent["amount_spent"]>=q95,
            "VIP",
            np.where(
                     amount_spent["amount_spent"]>=q75,
                     "Preferred",
                     ""
                    )
)

In [5]:
amount_spent.head()

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,Label
CustomerID,,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60,VIP
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00,Preferred
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24,Preferred
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55,Preferred
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40,

In [6]:
print(orders.iloc[0,11])

17850

In [7]:
#amount_spent.loc[12346,"Label"]
Labels = []
for i in range(len(orders)):
    Labels.append(amount_spent.loc[orders.iloc[i,11], "Label"])
    
    
#Labels = pd.DataFrame(Labels, columns=["Labels"])

#orders["Label"].unique()

In [8]:
#Labels["Labels"].unique()

In [9]:
orders["Label"] = Labels

In [10]:
orders["Label"].unique()

array(['Preferred', 'VIP', ''], dtype=object)

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [11]:
grouped = orders.groupby(["Country","Label"]).sum()

In [12]:
type(grouped)

pandas.core.frame.DataFrame

In [15]:
grouped.sort_values(by=["amount_spent"], ascending=False).head()

                           Unnamed: 0    InvoiceNo       year    month  \
Country        Label
United Kingdom VIP        22813214208  47141882759  169290342   627628
               Preferred  37621758294  77002643958  276403313  1028886
                          38493898327  74527010103  266870197  1052904
Netherlands    VIP          544561120   1163267611    4182810    14191
EIRE           VIP         2073718067   3976915871   14231552    54850

                             day     hour  Quantity   UnitPrice  CustomerID  \
Country        Label
United Kingdom VIP        280997  1073340   1861017  273208.760  1284275187
               Preferred  503756  1752533   1349277  394289.581  2150326164
                          505752  1713258   1059178  382706.823  2076326661
Netherlands    VIP          6552    24488    197491    5176.090    30463680
EIRE           VIP         23214    85349    138400   31543.400   104468147

                          amount_spent
Country        Label
United Kingdom VIP         3417798.950
               Preferred   2206713.761
                           1683878.843
Netherlands    VIP          280206.020
EIRE           VIP          261204.690